<StackLayout class="rounded-lg bg-app-bg-pure w-[150] h-[246]">
  @if (showIcon) {
    <GridLayout rows="*, auto" columns="*, auto" class="w-[150] h-[150]">
      <NSImg
        row="0"
        rowSpan="2"
        col="0"
        colSpan="2"
        [sharedTransitionTag]="'itemImage' + item?.uuid"
        [src]="item?.coverImageURL + '.200x200_q85_autocrop_crop-scale.jpg'"
        [failureImageUri]="
          item?.coverImageURL + '.200x200_q85_autocrop_crop-scale.png'
        "
        class="rounded-tl-lg rounded-tr-lg w-[150] h-[150]"
      ></NSImg>
      <Label
        [text]="icon"
        class="tabler-icon p-1 mb-1 mr-0.5 rounded-full bg-neutral-800/85 text-xl text-neutral-50"
        row="1"
        col="1"
      ></Label>
    </GridLayout>
  } @else {
    <NSImg
      [sharedTransitionTag]="'itemImage' + item?.uuid"
      [src]="item?.coverImageURL + '.200x200_q85_autocrop_crop-scale.jpg'"
      [failureImageUri]="
        item?.coverImageURL + '.200x200_q85_autocrop_crop-scale.png'
      "
      class="rounded-tl-lg rounded-tr-lg w-[150] h-[150]"
    ></NSImg>
  }
  <StackLayout class="p-2">
    <FlexboxLayout class="flex-col justify-between h-full w-full">
      <StackLayout>
        <Label
          [text]="
            (item?.localizedTitle | neoL) || item?.displayTitle || item?.title
          "
          textWrap="true"
          [maxLines]="2"
        ></Label>
      </StackLayout>
      <FlexboxLayout class="justify-between mt-2">
        <StackLayout orientation="horizontal">
          <Label
            text="&#xeb4d;"
            class="tabler-icon text-app-fg-muted mr-1 text-lg"
          ></Label>
          <Label
            [text]="item?.ratingCount | kilo"
            class="text-app-fg-muted text-sm"
          ></Label>
        </StackLayout>
        @if (item?.rating > 0) {
          <StackLayout orientation="horizontal">
            <Label
              [text]="item?.rating"
              class="text-app-fg-muted text-sm mr-2"
            ></Label>
            <ns-rate-indicator
              [rate]="item?.rating"
              [size]="18"
            ></ns-rate-indicator>
          </StackLayout>
        }
      </FlexboxLayout>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>
