<StackLayout class="rounded-lg bg-app-bg-pure px-3 pt-3 pb-1 mb-4">
  <GridLayout rows="*, auto, auto, *" columns="48, *, auto" class="mb-2 h-10">
    <NSImg
      row="0"
      rowSpan="4"
      col="0"
      [src]="post.account.avatar"
      failureImageUri="font://&#xeb4d;"
      class="tabler-icon text-app-fg-muted text-4xl rounded-full w-10 h-10 mr-2"
      [decodeWidth]="200"
      [decodeHeight]="200"
    ></NSImg>
    <FlexboxLayout class="mr-2 items-center" row="1" col="1">
      <Label
        class="text-xs font-medium no-font-padding"
        [text]="post.account.displayName"
      ></Label>
      @if (status()) {
        <Label
          [text]="' - ' + status()"
          class="text-xs text-app-fg-muted shrink-0 no-font-padding"
        ></Label>
      }
    </FlexboxLayout>
    <StackLayout
      row="2"
      col="1"
      class="mt-0.5"
      orientation="horizontal"
      (tap)="onPostPressed()"
    >
      <Label
        [text]="
          post.visibility === 'public' || post.visibility === 'unlisted'
            ? '&#xec08;'
            : post.visibility === 'private'
              ? '&#xeae2;'
              : '&#xea2b;'
        "
        class="tabler-icon text-xs text-app-fg-muted mr-1"
      ></Label>
      <Label
        [text]="post.createdAt | date: 'MMM dd, yyyy hh:mm a'"
        class="text-xs text-app-fg-muted mr-2 no-font-padding"
      ></Label>
    </StackLayout>
    @if (noteProgress()?.type || noteProgress()?.value) {
      <Label
        rowSpan="2"
        row="1"
        col="2"
        [text]="
          ('common.' + noteProgress().type | L) + ': ' + noteProgress().value
        "
        class="bg-app-bg-muted rounded-lg text-xs h-6 px-2.5 no-font-padding"
        (tap)="onPostPressed()"
      ></Label>
    } @else {
      <FlexboxLayout
        class="justify-between h-3 w-[76]"
        row="1"
        col="2"
        (tap)="onPostPressed()"
      >
        @for (rateIndicator of rateIndicators(); track $index) {
          <ns-rate-indicator
            [rate]="rateIndicator"
            [size]="12"
          ></ns-rate-indicator>
        }
      </FlexboxLayout>
    }
  </GridLayout>

  <ns-post-content
    [post]="post"
    (onContentPressed)="onPostPressed()"
  ></ns-post-content>

  <FlexboxLayout class="border-t-[1] border-app-bg-muted w-full pt-1">
    <StackLayout [ngClass]="isEditable ? 'w-1/4' : 'w-1/3'">
      <ns-icon-text-button
        (pressed)="onReplyPressed()"
        buttonClass="basic-button"
        textClass="text-xs ml-1"
        icon="&#xeaed;"
        [text]="post.repliesCount ? (post.repliesCount | kilo) : ''"
      >
      </ns-icon-text-button>
    </StackLayout>
    <StackLayout [ngClass]="isEditable ? 'w-1/4' : 'w-1/3'">
      <ns-icon-text-button
        (pressed)="onBoostPressed()"
        [disabled]="
          isBoosting ||
          post.visibility === 'private' ||
          post.visibility === 'direct'
        "
        buttonClass="basic-button"
        [iconClass]="post.reblogged ? 'text-primary-300' : ''"
        textClass="text-xs ml-1"
        icon="&#xeb72;"
        [text]="post.reblogsCount ? (post.reblogsCount | kilo) : ''"
      >
      </ns-icon-text-button>
    </StackLayout>
    <StackLayout [ngClass]="isEditable ? 'w-1/4' : 'w-1/3'">
      <ns-icon-text-button
        (pressed)="onLikePressed()"
        [disabled]="isLiking"
        buttonClass="basic-button"
        [iconClass]="post.favourited ? 'text-primary-300' : ''"
        textClass="text-xs ml-1"
        [icon]="post.favourited ? '&#xf67c;' : '&#xeabe;'"
        [text]="post.favouritesCount ? (post.favouritesCount | kilo) : ''"
      >
      </ns-icon-text-button>
    </StackLayout>
    <!-- TODO: Mohammad 10-13-2025: Could be a 3 dots later when we have added report, bookmark, mute, block, share, etc. -->
    @if (isEditable) {
      <StackLayout class="w-1/4">
        <Button
          text="&#xeb04;"
          class="tabler-icon icon-button"
          (tap)="onEditPressed()"
        ></Button>
      </StackLayout>
    }
  </FlexboxLayout>
</StackLayout>
