<ActionBar flat="true">
  <GridLayout columns="auto, *, 40" class="pr-4 py-2 w-full">
    <Button
      text="&#xea60;"
      class="tabler-icon icon-button"
      col="0"
      (tap)="location.back()"
    ></Button>
    <Label
      [text]="'features.preferences.preferences' | L"
      class="font-medium text-lg text-center"
      col="1"
    ></Label>
  </GridLayout>
</ActionBar>

<ScrollView>
  <StackLayout class="p-4">
    <Label [text]="'features.preferences.theme' | L" class="h1 mb-2"></Label>
    <GridLayout columns="*, auto, auto">
      <Label col="0" [text]="'features.preferences.theme_color' | L"></Label>
      <Button
        col="1"
        [text]="'features.preferences.forest' | L"
        class="gray-button rounded-none rounded-l-full"
        [class.bg-forest-300]="selectedTheme() === 'forest'"
        [class.text-neutral-700]="selectedTheme() === 'forest'"
        (tap)="selectedTheme.set('forest')"
      ></Button>
      <Button
        col="2"
        [text]="'features.preferences.beach' | L"
        class="gray-button rounded-none rounded-r-full"
        [class.bg-beach-300]="selectedTheme() === 'beach'"
        [class.text-neutral-700]="selectedTheme() === 'beach'"
        (tap)="selectedTheme.set('beach')"
      ></Button>
    </GridLayout>

    <GridLayout columns="*, auto, auto, auto" class="mt-4">
      <Label col="0" [text]="'features.preferences.theme_mode' | L"></Label>
      <Button
        col="1"
        [text]="'features.preferences.light' | L"
        class="gray-button rounded-none rounded-l-full"
        [class.primary-button]="selectedMode() === 'light'"
        (tap)="selectedMode.set('light')"
      ></Button>
      <Button
        col="2"
        [text]="'features.preferences.dark' | L"
        class="gray-button rounded-none h-[52]"
        [class.primary-button]="selectedMode() === 'dark'"
        (tap)="selectedMode.set('dark')"
      ></Button>
      <Button
        col="3"
        [text]="'features.preferences.system' | L"
        class="gray-button rounded-none rounded-r-full"
        [class.primary-button]="selectedMode() === 'system'"
        (tap)="selectedMode.set('system')"
      ></Button>
    </GridLayout>

    <GridLayout
      columns="*, auto"
      class="mt-6 pt-6 border-t-[1] border-app-bg-muted"
    >
      <Label col="0" [text]="'common.language' | L"></Label>
      <ns-icon-text-button
        col="1"
        (pressed)="showLanguages()"
        buttonClass="gray-button"
        icon="&#xea5f;"
        [text]="selectedLanguage()"
      ></ns-icon-text-button>
    </GridLayout>

    <Label
      class="text-app-fg-muted-light text-sm mt-12 mb-2"
      colSpan="2"
      textWrap="true"
      [text]="'* ' + ('features.preferences.requires_app_restart' | L)"
    ></Label>
    <Button
      [text]="'common.save' | L"
      (tap)="save()"
      class="primary-button"
    ></Button>
  </StackLayout>
</ScrollView>
