<ActionBar flat="true">
  <GridLayout
    columns="auto, *, auto"
    class="pr-4 pb-2 w-full"
    [paddingTop]="statusbarSize + 8"
  >
    <Button
      text="&#xea60;"
      class="tabler-icon icon-button"
      col="0"
      (tap)="location.back()"
    ></Button>
    <Label
      [text]="itemTitle()"
      class="font-medium text-lg text-center"
      col="1"
    ></Label>
    <Button
      text="&#xeb21;"
      class="tabler-icon icon-button"
      col="2"
      (tap)="share()"
    ></Button>
  </GridLayout>
</ActionBar>

<ScrollView>
  <StackLayout class="pb-4">
    <StackLayout
      class="m-4"
      horizontalAlignment="center"
      [hidden]="!pageLoading()"
    >
      <ActivityIndicator [busy]="pageLoading()" />
    </StackLayout>

    @if (movie()) {
      <GridLayout
        columns="auto, *"
        rows="auto, auto, *, auto"
        class="h-[160] w-full m-4 px-4"
      >
        <NSImg
          [sharedTransitionTag]="'itemImage' + movie().uuid"
          rowSpan="4"
          col="0"
          [src]="movie().coverImageURL + '.200x200_q85_autocrop_crop-scale.jpg'"
          [failureImageUri]="
            movie().coverImageURL + '.200x200_q85_autocrop_crop-scale.png'
          "
          class="rounded-lg h-[160] w-[120]"
        ></NSImg>
        <Label
          col="1"
          row="0"
          [text]="itemTitle()"
          class="pl-3 mb-0.5"
          textWrap="true"
        ></Label>
        <StackLayout col="1" row="1" class="pl-3" orientation="horizontal">
          <Label
            [text]="movie().year + (movie().duration ? ' - ' : '')"
            class="text-xs font-medium text-neutral-500"
          ></Label>
          @if (movie().duration) {
            <Label
              text="&#xff9b;"
              class="tabler-icon text-lg font-medium text-neutral-500"
            ></Label>
            <Label
              [text]="movie().duration"
              class="text-xs font-medium text-neutral-500 ml-0.5"
            ></Label>
          }
        </StackLayout>
        <WrapLayout class="mt-2 pl-3" col="1" row="2">
          <Label
            text="&#xeafa;"
            class="bg-forest/50 tabler-icon rounded-lg text-lg h-6 mr-2 mb-2 px-2.5"
          ></Label>
          @for (genre of movie().genres; track genre) {
            <Label
              [text]="genre"
              class="bg-neutral-200 rounded-lg text-xs h-6 mr-2 mb-2 px-2.5"
            ></Label>
          }
        </WrapLayout>
        <FlexboxLayout col="1" row="3" class="justify-between mt-2 pl-3">
          <StackLayout orientation="horizontal">
            <Label
              text="&#xeb4d;"
              class="tabler-icon text-neutral-500 mr-1 text-lg"
            ></Label>
            <Label
              [text]="movie().ratingCount | kilo"
              class="text-neutral-500 text-sm"
            ></Label>
          </StackLayout>
          @if (movie().rating > 0) {
            <StackLayout orientation="horizontal">
              <Label
                [text]="movie().rating"
                class="text-neutral-500 text-sm mr-2"
              ></Label>
              <ns-rate-indicator
                [rate]="movie().rating"
                [size]="18"
              ></ns-rate-indicator>
            </StackLayout>
          }
        </FlexboxLayout>
      </GridLayout>

      <FlexboxLayout class="px-4 w-full items-center mb-4">
        <ns-icon-text-button
          (pressed)="showCollections()"
          buttonClass="gray-button w-full mr-2"
          icon="&#xeb0b;"
          [text]="'common.add_to_collection' | L"
        >
        </ns-icon-text-button>

        <ns-icon-text-button
          (pressed)="
            postEditorsService.showMarkAndRateSheet(containerRef, {
              itemUUID: movie().uuid,
              itemCategory: movie().category,
              itemTitle: itemTitle(),
              shelfMark: postsStateService.itemPosts[movie().uuid].userMark(),
            })
          "
          class="w-full"
          buttonClass="primary-button w-full"
          icon="&#xf972;"
          [text]="
            postsStateService.itemPosts[movie().uuid].userStatus()
              ? postsStateService.itemPosts[movie().uuid].userStatus() +
                (postsStateService.itemPosts[movie().uuid].userMark()
                  .ratingGrade
                  ? ' - ' +
                    postsStateService.itemPosts[movie().uuid].userMark()
                      .ratingGrade
                  : '')
              : ('common.mark_and_rate' | L)
          "
        >
        </ns-icon-text-button>
      </FlexboxLayout>

      @if (movie().localizedDescription.length > 0) {
        <Label
          [text]="
            movie().localizedDescription
              | neoL: stateService.preference().language
          "
          [maxLines]="descriptionCollapsed() ? 5 : 100"
          textWrap="true"
          class="mb-6 px-4"
          (tap)="descriptionCollapsed.set(!descriptionCollapsed())"
        ></Label>
      }

      @if (movie().tags.length > 0) {
        <Label [text]="'common.tags' | L" class="h1 mx-4 mb-2"></Label>
        <CollectionView
          [items]="movie().tags"
          colWidth="auto"
          orientation="horizontal"
          class="pr-2 pl-4 mb-6"
        >
          <ng-template let-item="item">
            <StackLayout class="pr-2">
              <Label
                [text]="item"
                class="text-xs bg-neutral-200 rounded-lg px-2.5 py-1"
              ></Label>
            </StackLayout>
          </ng-template>
        </CollectionView>
      }

      @if (
        movie().actors.length > 0 ||
        movie().directors.length > 0 ||
        movie().playwrights.length > 0
      ) {
        <Label
          [text]="'features.movie.cast_and_crew' | L"
          class="h1 mx-4 mb-2"
        ></Label>
        <GridLayout class="mb-6 mx-4" columns="auto, *" rows="auto, auto, auto">
          <Label
            [text]="
              (movie().directors.length > 1
                ? 'features.movie.directors'
                : 'features.movie.director'
              ) | L
            "
            class="font-bold text-neutral-500 mb-2 mr-4 align-top min-w-28"
            col="0"
            row="0"
          ></Label>
          <Label
            [text]="
              movie().directors.length > 0 ? movie().directors.join(', ') : '-'
            "
            textWrap="true"
            col="1"
            row="0"
            class="mb-2"
          ></Label>
          <Label
            [text]="
              (movie().playwrights.length > 1
                ? 'features.movie.writers'
                : 'features.movie.writer'
              ) | L
            "
            class="font-bold text-neutral-500 mb-2 mr-4 align-top min-w-28"
            col="0"
            row="1"
          ></Label>
          <Label
            [text]="
              movie().playwrights.length > 0
                ? movie().playwrights.join(', ')
                : '-'
            "
            textWrap="true"
            col="1"
            row="1"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.movie.cast' | L"
            class="font-bold text-neutral-500 mb-2 mr-4 align-top min-w-28"
            col="0"
            row="2"
          ></Label>
          <Label
            [text]="movie().actors.length > 0 ? movie().actors.join(', ') : '-'"
            textWrap="true"
            col="1"
            row="2"
            class="mb-2"
          ></Label>
        </GridLayout>
      }

      @if (movie().areas.length > 0 || movie().languages.length > 0) {
        <Label
          [text]="'features.movie.origins' | L"
          class="h1 mx-4 mb-2"
        ></Label>
        <GridLayout class="mb-6 mx-4" columns="auto, *" rows="auto, auto">
          <Label
            [text]="
              (movie().areas.length > 1
                ? 'features.movie.countries'
                : 'features.movie.country'
              ) | L
            "
            class="font-bold text-neutral-500 mb-2 mr-4 align-top min-w-28"
            col="0"
            row="0"
          ></Label>
          <Label
            [text]="movie().areas.length > 0 ? movie().areas.join(', ') : '-'"
            textWrap="true"
            col="1"
            row="0"
            class="mb-2"
          ></Label>
          <Label
            [text]="
              (movie().languages.length > 1
                ? 'features.movie.languages'
                : 'features.movie.language'
              ) | L
            "
            class="font-bold text-neutral-500 mb-2 mr-4 align-top min-w-28"
            col="0"
            row="1"
          ></Label>
          <Label
            [text]="
              movie().languages.length > 0 ? movie().languages.join(', ') : '-'
            "
            textWrap="true"
            col="1"
            row="1"
            class="mb-2"
          ></Label>
        </GridLayout>
      }

      <Label
        [text]="'common.external_resources' | L"
        class="h1 mx-4 mb-2"
      ></Label>
      <ns-external-resources
        [externalResources]="movie().externalResources"
        [site]="movie().site"
        [localURL]="stateService.instanceURL() + movie().url"
        [language]="stateService.preference().language"
      ></ns-external-resources>

      <Label
        [text]="'common.user_ratings_and_marks' | L"
        class="h1 mx-4 mb-2 mt-6"
      ></Label>
      @if (movie().rating > 0) {
        <StackLayout class="mx-4 mb-4">
          <ns-ratings-chart
            [rating]="movie().rating"
            [ratingCount]="movie().ratingCount"
            [ratingDistribution]="movie().ratingDistribution"
          ></ns-ratings-chart>
        </StackLayout>
      }
      <StackLayout class="px-4 pt-4 bg-forest/15">
        <Button
          [text]="
            postsStateService.itemPosts[movie().uuid].userStatus()
              ? postsStateService.itemPosts[movie().uuid].userStatus() +
                (postsStateService.itemPosts[movie().uuid].userMark()
                  .ratingGrade
                  ? ' - ' +
                    postsStateService.itemPosts[movie().uuid].userMark()
                      .ratingGrade
                  : '')
              : ('common.mark_and_rate' | L)
          "
          class="primary-button w-full mb-4"
          (tap)="
            postEditorsService.showMarkAndRateSheet(containerRef, {
              itemUUID: movie().uuid,
              itemCategory: movie().category,
              itemTitle: itemTitle(),
              shelfMark: postsStateService.itemPosts[movie().uuid].userMark(),
            })
          "
        ></Button>
        @for (
          comment of postsStateService.itemPosts[
            movie().uuid
          ].commentsOverview();
          track comment
        ) {
          <ns-post-item
            [post]="comment"
            [isLiking]="postsStateService.likingPostIds().includes(comment.id)"
            [isBoosting]="
              postsStateService.boostingPostIds().includes(comment.id)
            "
            [isEditable]="comment.account.id === stateService.fediAccount().id"
            (likePressed)="postsStateService.toggleLike(comment)"
            (boostPressed)="postsStateService.toggleBoost(comment)"
            (editPressed)="
              postEditorsService.showMarkAndRateSheet(containerRef, {
                itemUUID: movie().uuid,
                itemCategory: movie().category,
                itemTitle: itemTitle(),
                shelfMark: postsStateService.itemPosts[movie().uuid].userMark(),
              })
            "
            (replyPressed)="
              postEditorsService.showReplySheet(containerRef, {
                replyingPost: comment,
              })
            "
            (postPressed)="navigateToPost(comment.id, 'mark')"
          ></ns-post-item>
        }
        @if (postsStateService.itemPosts[movie().uuid].hasMoreComments()) {
          <Button
            [text]="'common.show_all' | L"
            class="basic-button mb-4"
            (tap)="showAllPosts('mark')"
          ></Button>
        }
      </StackLayout>

      <Label [text]="'common.reviews' | L" class="h1 mx-4 mb-2 mt-6"></Label>
      <StackLayout class="px-4 pt-4 bg-forest/15">
        <Button
          [text]="
            (postsStateService.itemPosts[movie().uuid].userReview()
              ? 'common.modify_review'
              : 'common.write_review'
            ) | L
          "
          class="primary-button w-full mb-4"
          (tap)="
            postEditorsService.showReviewSheet(containerRef, {
              itemUUID: movie().uuid,
              itemCategory: movie().category,
              itemTitle: itemTitle(),
              review: postsStateService.itemPosts[movie().uuid].userReview(),
            })
          "
        ></Button>
        @for (
          review of postsStateService.itemPosts[movie().uuid].reviewsOverview();
          track review
        ) {
          <ns-post-item
            [post]="review"
            [isLiking]="postsStateService.likingPostIds().includes(review.id)"
            [isBoosting]="
              postsStateService.boostingPostIds().includes(review.id)
            "
            [isEditable]="review.account.id === stateService.fediAccount().id"
            (likePressed)="postsStateService.toggleLike(review)"
            (boostPressed)="postsStateService.toggleBoost(review)"
            (editPressed)="
              postEditorsService.showReviewSheet(containerRef, {
                itemUUID: movie().uuid,
                itemCategory: movie().category,
                itemTitle: itemTitle(),
                review: postsStateService.itemPosts[movie().uuid].userReview(),
              })
            "
            (replyPressed)="
              postEditorsService.showReplySheet(containerRef, {
                replyingPost: review,
              })
            "
            (postPressed)="navigateToPost(review.id, 'review')"
          ></ns-post-item>
        }
        @if (postsStateService.itemPosts[movie().uuid].hasMoreReviews()) {
          <Button
            [text]="'common.show_all' | L"
            class="basic-button mb-4"
            (tap)="showAllPosts('review')"
          ></Button>
        }
      </StackLayout>

      <Label [text]="'common.notes' | L" class="h1 mx-4 mb-2 mt-6"></Label>
      <StackLayout class="px-4 pt-4 bg-forest/15">
        <Button
          [text]="'common.write_note' | L"
          class="primary-button w-full mb-4"
          (tap)="
            postEditorsService.showNoteSheet(containerRef, {
              itemUUID: movie().uuid,
              itemCategory: movie().category,
              itemTitle: itemTitle(),
            })
          "
        ></Button>
        @for (
          note of postsStateService.itemPosts[movie().uuid].notesOverview();
          track note
        ) {
          <ns-post-item
            [post]="note"
            [isLiking]="postsStateService.likingPostIds().includes(note.id)"
            [isBoosting]="postsStateService.boostingPostIds().includes(note.id)"
            [isEditable]="note.account.id === stateService.fediAccount().id"
            (likePressed)="postsStateService.toggleLike(note)"
            (boostPressed)="postsStateService.toggleBoost(note)"
            (editPressed)="
              postEditorsService.showNoteSheet(containerRef, {
                itemUUID: movie().uuid,
                itemCategory: movie().category,
                itemTitle: itemTitle(),
                note: postsStateService.getUserNoteByPost(note),
              })
            "
            (replyPressed)="
              postEditorsService.showReplySheet(containerRef, {
                replyingPost: note,
              })
            "
            (postPressed)="navigateToPost(note.id, 'note')"
          ></ns-post-item>
        }
        @if (postsStateService.itemPosts[movie().uuid].hasMoreNotes()) {
          <Button
            [text]="'common.show_all' | L"
            class="basic-button mb-4"
            (tap)="showAllPosts('note')"
          ></Button>
        }
      </StackLayout>

      @if (postsStateService.itemPosts[movie().uuid].collections().length > 0) {
        <Label
          [text]="'common.collections_featuring_item' | L"
          class="h1 mx-4 mb-2 mt-6"
        ></Label>
        <CollectionView
          [items]="postsStateService.itemPosts[movie().uuid].collections()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="246"
          class="bg-forest/15 py-4 px-2 h-[278]"
          (itemTap)="navigateToCollection($event)"
        >
          <ng-template let-item="item" let-index="index">
            <StackLayout class="px-2">
              <ns-collection-item
                [item]="item"
                [post]="
                  postsStateService.itemPosts[movie().uuid].collectionPosts()[
                    index
                  ]
                "
              ></ns-collection-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      }
    }
  </StackLayout>
</ScrollView>
