<ActionBar flat="true">
  <GridLayout
    columns="auto, *, auto"
    class="pr-4 pb-2 w-full"
    [paddingTop]="statusbarSize + 8"
  >
    <Button
      text="&#xea60;"
      class="tabler-icon icon-button"
      col="0"
      (tap)="location.back()"
    ></Button>
    <Label
      [text]="pageTitle()"
      class="font-medium text-lg text-center"
      col="1"
    ></Label>
    <Button
      [text]="addIcon()"
      class="tabler-icon icon-button"
      col="2"
      (tap)="addEditSheet()"
    ></Button>
  </GridLayout>
</ActionBar>

<GridLayout>
  <CollectionView
    [items]="
      type === 'mark'
        ? postsStateService.itemPosts[itemUUID].comments().data
        : type === 'review'
          ? postsStateService.itemPosts[itemUUID].reviews().data
          : type === 'note'
            ? postsStateService.itemPosts[itemUUID].notes().data
            : []
    "
    colWidth="100%"
    class="p-4 bg-forest-300/15 h-full"
    [class.pb-14]="currentPage < maxPages"
    (loadMoreItems)="getPosts()"
    (itemTap)="navigateToPost($any($event).item.id)"
  >
    <ng-template let-item="item">
      <StackLayout>
        <ns-post-item
          [post]="item"
          [isLiking]="postsStateService.likingPostIds().includes(item.id)"
          [isBoosting]="postsStateService.boostingPostIds().includes(item.id)"
          [isEditable]="item.account.id === stateService.fediAccount().id"
          (likePressed)="postsStateService.toggleLike(item)"
          (boostPressed)="postsStateService.toggleBoost(item)"
          (editPressed)="addEditSheet(item)"
          (replyPressed)="
            postEditorsService.showReplySheet(containerRef, {
              replyingPost: item,
            })
          "
        ></ns-post-item>
      </StackLayout>
    </ng-template>
  </CollectionView>

  <StackLayout
    class="m-4"
    horizontalAlignment="center"
    verticalAlignment="bottom"
    [hidden]="!pageLoading()"
  >
    <ActivityIndicator [busy]="pageLoading()" />
  </StackLayout>
</GridLayout>
