<GridLayout>
  <GridLayout rows="56, auto, auto, *" class="rounded-t-2xl bg-neutral-50">
    <GridLayout
      row="0"
      columns="auto, *, auto"
      class="rounded-t-2xl px-4 w-full bg-white"
    >
      <Button
        text="&#xeb55;"
        class="tabler-icon icon-button"
        col="0"
        (tap)="close()"
      ></Button>
      @if (note.postId && !removeLoading()) {
        <Button
          text="&#xeb41;"
          class="tabler-icon icon-button text-red-400 ml-2"
          col="2"
          (tap)="remove()"
          [disabled]="postLoading()"
        ></Button>
      }
      @if (removeLoading()) {
        <ActivityIndicator col="3" class="w-10 h-10 ml-2" busy="true" />
      }
    </GridLayout>

    <StackLayout row="1" class="mt-4">
      <ns-sender-profile
        [user]="stateService.user()"
        [instanceURL]="stateService.instanceURL()"
      ></ns-sender-profile>
    </StackLayout>

    <GridLayout row="2" rows="auto, auto" columns="*, *" class="mt-4 px-4">
      <ns-icon-text-button
        row="0"
        col="0"
        (pressed)="showProgressTypes()"
        buttonClass="gray-button w-full"
        icon="&#xea5f;"
        [text]="
          (chosenProgressType()
            ? 'common.' + chosenProgressType()
            : 'common.progress_type'
          ) | L
        "
      >
      </ns-icon-text-button>
      <TextField
        row="0"
        col="1"
        class="text-base h-10 ml-2"
        [hint]="'common.progress' | L"
        returnKeyType="next"
        [(ngModel)]="note.progressValue"
      />
      <TextField
        row="1"
        col="0"
        colSpan="2"
        class="text-base h-10 mt-2"
        [hint]="'common.title' | L"
        returnKeyType="next"
        [(ngModel)]="note.title"
      />
    </GridLayout>

    <StackLayout row="3" class="mt-4">
      <ns-post-editor
        [post]="note"
        [hint]="
          ('common.leave_note' | L) +
          ' ' +
          (item().localizedTitle | neoL: stateService.preference().language)
        "
        contentProperty="content"
        [disableSubmitButton]="removeLoading()"
        [submitButtonLoading]="postLoading()"
        [allowChangingDate]="false"
        [showCrosspost]="true"
        (postPressed)="post()"
      ></ns-post-editor>
    </StackLayout>
  </GridLayout>

  <ng-template #messageAnchor></ng-template>
</GridLayout>
