<ActionBar flat="true">
  <GridLayout columns="auto, *, auto" class="pr-4 py-2 w-full">
    <Button
      text="&#xfa7e;"
      class="tabler-icon icon-button"
      col="0"
      (tap)="authService.signOut(true)"
    ></Button>
    <Label
      [text]="'features.explore.page_title' | L"
      class="font-medium text-lg text-center"
      col="1"
    ></Label>
    <NSImg
      (tap)="openMenu($event)"
      [src]="stateService.user()?.avatar"
      failureImageUri="font://&#xeb4d;"
      class="tabler-icon text-app-fg-muted rounded-full w-10 h-10"
      [decodeWidth]="100"
      [decodeHeight]="100"
      col="2"
    ></NSImg>
  </GridLayout>
</ActionBar>

<StackLayout>
  <StackLayout
    sharedTransitionTag="searchbox"
    class="bg-app-bg-muted rounded-full m-4"
  >
    <FlexboxLayout class="textfield-with-icon-container">
      <Label
        text="&#xeb1c;"
        class="tabler-icon text-app-fg-muted shrink-0"
      ></Label>
      <TextField
        [editable]="false"
        [hint]="'common.search' | L"
        class="w-full"
        (tap)="searchClicked()"
      />

      <ActivityIndicator
        [busy]="loading()"
        [visibility]="loading() ? 'visible' : 'collapsed'"
        class="shrink-0 w-8 h-8"
      />
    </FlexboxLayout>
  </StackLayout>

  <CollectionView
    [items]="trendingCategories"
    [itemTemplateSelector]="templateSelector"
  >
    <ng-template cvTemplateKey="books" let-category="item">
      <StackLayout>
        <Label [text]="'common.books' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingBooks()"
          orientation="horizontal"
          colWidth="333"
          rowHeight="150"
          class="bg-primary-300-15 py-4 px-2 h-[182]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'book')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-book-item
                [item]="item"
                [language]="stateService.preference()?.language"
              ></ns-book-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>

    <ng-template cvTemplateKey="movies" let-category="item">
      <StackLayout>
        <Label [text]="'common.movies' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingMovies()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="306"
          class="bg-primary-300-15 py-4 px-2 h-[338]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'movie')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-movie-item
                [item]="item"
                [language]="stateService.preference()?.language"
              ></ns-movie-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>

    <ng-template cvTemplateKey="series" let-category="item">
      <StackLayout>
        <Label [text]="'common.series' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingSeries()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="306"
          class="bg-primary-300-15 py-4 px-2 h-[338]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'series')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-series-item
                [item]="item"
                [language]="stateService.preference()?.language"
              ></ns-series-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>

    <ng-template cvTemplateKey="games" let-category="item">
      <StackLayout>
        <Label [text]="'common.games' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingGames()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="306"
          class="bg-primary-300-15 py-4 px-2 h-[338]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'game')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-game-item
                [item]="item"
                [language]="stateService.preference()?.language"
              ></ns-game-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>

    <ng-template cvTemplateKey="musics" let-category="item">
      <StackLayout>
        <Label [text]="'common.musics' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingMusics()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="256"
          class="bg-primary-300-15 py-4 px-2 h-[288]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'music')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-music-item
                [item]="item"
                [language]="stateService.preference()?.language"
              ></ns-music-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>

    <ng-template cvTemplateKey="podcasts" let-category="item">
      <StackLayout>
        <Label [text]="'common.podcasts' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingPodcasts()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="246"
          class="bg-primary-300-15 py-4 px-2 h-[278]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'podcast')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-podcast-item
                [item]="item"
                [language]="stateService.preference()?.language"
              ></ns-podcast-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>

    <ng-template cvTemplateKey="collections" let-category="item">
      <StackLayout>
        <Label [text]="'common.collections' | L" class="h1 m-4 mb-2"></Label>
        <CollectionView
          [items]="stateService.trendingCollections()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="246"
          class="bg-primary-300-15 py-4 px-2 h-[278]"
          (itemTap)="navigateToItem($event, category)"
          (itemLoading)="onItemLoading($event, 'collection')"
        >
          <ng-template let-item="item">
            <StackLayout class="px-2">
              <ns-collection-item
                [item]="item"
                [post]="collectionPosts()[item?.uuid]"
              ></ns-collection-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      </StackLayout>
    </ng-template>
  </CollectionView>
</StackLayout>
