<ActionBar flat="true">
  <GridLayout columns="auto, *, auto" class="pr-4 py-2 w-full">
    <Button
      text="&#xea60;"
      class="tabler-icon icon-button"
      col="0"
      (tap)="location.back()"
    ></Button>
    <Label
      [text]="itemTitle()"
      class="font-medium text-lg text-center"
      col="1"
    ></Label>
    <Button
      text="&#xeb21;"
      class="tabler-icon icon-button"
      col="2"
      (tap)="share()"
    ></Button>
  </GridLayout>
</ActionBar>

<ScrollView>
  <StackLayout class="pb-4">
    <StackLayout
      class="m-4"
      horizontalAlignment="center"
      [hidden]="!pageLoading()"
    >
      <ActivityIndicator [busy]="pageLoading()" />
    </StackLayout>

    @if (item()) {
      <GridLayout
        columns="auto, *"
        rows="auto, auto, auto, *, auto"
        class="h-[180] w-full m-4 px-4"
      >
        <NSImg
          [sharedTransitionTag]="'itemImage' + item().uuid"
          rowSpan="5"
          col="0"
          [src]="item().coverImageURL + '.200x200_q85_autocrop_crop-scale.jpg'"
          [failureImageUri]="
            item().coverImageURL + '.200x200_q85_autocrop_crop-scale.png'
          "
          class="rounded-lg h-[180]"
        ></NSImg>
        <Label
          col="1"
          row="0"
          [text]="itemTitle()"
          class="pl-3 mb-0.5"
          textWrap="true"
        ></Label>
        @if (item().subtitle) {
          <Label
            col="1"
            row="1"
            [text]="item().subtitle"
            class="ml-3 text-xs text-app-fg-muted italic"
            textWrap="true"
          ></Label>
        }
        <Label
          col="1"
          row="2"
          [text]="item().authors?.join(' - ')"
          class="ml-3 text-xs font-medium text-app-fg-muted"
        ></Label>
        <WrapLayout class="mt-2 pl-3" col="1" row="3">
          <Label
            text="&#xeff2;"
            class="bg-primary-300-50 tabler-icon rounded-lg text-lg h-6 mr-2 mb-2 px-2.5"
          ></Label>
          @for (language of item().languages; track language) {
            <Label
              [text]="language"
              class="bg-app-bg-muted rounded-lg text-xs h-6 mr-2 mb-2 px-2.5"
            ></Label>
          }
        </WrapLayout>
        <FlexboxLayout col="1" row="4" class="justify-between mt-2 pl-3">
          <StackLayout orientation="horizontal">
            <Label
              text="&#xeb4d;"
              class="tabler-icon text-app-fg-muted mr-1 text-lg"
            ></Label>
            <Label
              [text]="item().ratingCount | kilo"
              class="text-app-fg-muted text-sm"
            ></Label>
          </StackLayout>
          @if (item().rating > 0) {
            <StackLayout orientation="horizontal">
              <Label
                [text]="item().rating"
                class="text-app-fg-muted text-sm mr-2"
              ></Label>
              <ns-rate-indicator
                [rate]="item().rating"
                [size]="18"
              ></ns-rate-indicator>
            </StackLayout>
          }
        </FlexboxLayout>
      </GridLayout>

      <FlexboxLayout class="px-4 w-full items-center mb-4">
        <ns-icon-text-button
          (pressed)="showCollections()"
          buttonClass="gray-button w-full mr-2"
          icon="&#xeb0b;"
          [text]="'common.add_to_collection' | L"
        >
        </ns-icon-text-button>

        <ns-icon-text-button
          (pressed)="
            postEditorsService.showMarkAndRateSheet(containerRef, {
              itemUUID: item().uuid,
              itemCategory: item().category,
              itemTitle: itemTitle(),
              shelfMark: postsStateService.itemPosts[item().uuid]?.userMark(),
            })
          "
          class="w-full"
          iconClass="text-neutral-700"
          textClass="text-neutral-700"
          buttonClass="primary-button w-full"
          icon="&#xf972;"
          [text]="
            postsStateService.itemPosts[item().uuid]?.userStatus()
              ? postsStateService.itemPosts[item().uuid]?.userStatus() +
                (postsStateService.itemPosts[item().uuid]?.userMark().ratingGrade
                  ? ' - ' +
                    postsStateService.itemPosts[item().uuid]?.userMark()
                      .ratingGrade
                  : '')
              : ('common.mark_and_rate' | L)
          "
        >
        </ns-icon-text-button>
      </FlexboxLayout>

      @if (item().localizedDescription.length > 0) {
        <Label
          [text]="(item().localizedDescription | neoL) || item().description"
          [maxLines]="descriptionCollapsed() ? 5 : 100"
          textWrap="true"
          class="mb-6 px-4"
          (tap)="descriptionCollapsed.set(!descriptionCollapsed())"
        ></Label>
      }

      @if (item().tags.length > 0) {
        <Label [text]="'common.tags' | L" class="h1 mx-4 mb-2"></Label>
        <CollectionView
          [items]="item().tags"
          colWidth="auto"
          orientation="horizontal"
          class="pr-2 pl-4 mb-6"
        >
          <ng-template let-tag="item">
            <StackLayout class="pr-2">
              <Label
                [text]="tag"
                class="text-xs bg-app-bg-muted rounded-lg px-2.5 py-1"
              ></Label>
            </StackLayout>
          </ng-template>
        </CollectionView>
      }

      @if (item().authors.length > 0 || item().translators.length > 0) {
        <Label
          [text]="'features.book.contributors' | L"
          class="h1 mx-4 mb-2"
        ></Label>
        <GridLayout class="mb-6 mx-4" columns="auto, *" rows="auto, auto">
          <Label
            [text]="
              (item().authors.length > 1
                ? 'features.book.authors'
                : 'features.book.author'
              ) | L
            "
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="0"
          ></Label>
          <Label
            [text]="item().authors.length > 0 ? item().authors.join(', ') : '-'"
            textWrap="true"
            col="1"
            row="0"
            class="mb-2"
          ></Label>
          <Label
            [text]="
              (item().translators.length > 1
                ? 'features.book.translators'
                : 'features.book.translator'
              ) | L
            "
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="1"
          ></Label>
          <Label
            [text]="
              item().translators.length > 0
                ? item().translators.join(', ')
                : '-'
            "
            textWrap="true"
            col="1"
            row="1"
            class="mb-2"
          ></Label>
        </GridLayout>
      }

      @if (
        item().origTitle ||
        item().pubHouse ||
        item().imprint ||
        item().pubYear ||
        item().series
      ) {
        <Label
          [text]="'features.book.publication_info' | L"
          class="h1 mx-4 mb-2"
        ></Label>
        <GridLayout
          class="mb-6 mx-4"
          columns="auto, *"
          rows="auto, auto, auto, auto, auto"
        >
          <Label
            [text]="'common.original_title' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="0"
          ></Label>
          <Label
            [text]="item().origTitle || '-'"
            textWrap="true"
            col="1"
            row="0"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.publisher' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="1"
          ></Label>
          <Label
            [text]="item().pubHouse || '-'"
            textWrap="true"
            col="1"
            row="1"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.imprint' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="2"
          ></Label>
          <Label
            [text]="item().imprint || '-'"
            textWrap="true"
            col="1"
            row="2"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.publication_date' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="3"
          ></Label>
          <Label
            [text]="
              item().pubYear
                ? item().pubYear +
                  (item().pubMonth ? ' - ' + item().pubMonth : '')
                : '-'
            "
            textWrap="true"
            col="1"
            row="3"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.series' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="4"
          ></Label>
          <Label
            [text]="item().series || '-'"
            textWrap="true"
            col="1"
            row="4"
            class="mb-2"
          ></Label>
        </GridLayout>
      }
      @if (item().binding || item().pages || item().isbn || item().price) {
        <Label
          [text]="'features.book.edition_details' | L"
          class="h1 mx-4 mb-2"
        ></Label>
        <GridLayout
          class="mb-6 mx-4"
          columns="auto, *"
          rows="auto, auto, auto, auto"
        >
          <Label
            [text]="'features.book.binding' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="0"
          ></Label>
          <Label
            [text]="item().binding || '-'"
            textWrap="true"
            col="1"
            row="0"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.page_count' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="1"
          ></Label>
          <Label
            [text]="item().pages || '-'"
            textWrap="true"
            col="1"
            row="1"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.isbn' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="2"
          ></Label>
          <Label
            [text]="item().isbn || '-'"
            textWrap="true"
            col="1"
            row="2"
            class="mb-2"
          ></Label>
          <Label
            [text]="'features.book.price' | L"
            class="font-bold text-app-fg-muted mb-2 mr-4 align-top min-w-28"
            col="0"
            row="3"
          ></Label>
          <Label
            [text]="item().price || '-'"
            textWrap="true"
            col="1"
            row="3"
            class="mb-2"
          ></Label>
        </GridLayout>
      }

      <Label
        [text]="'common.external_resources' | L"
        class="h1 mx-4 mb-2"
      ></Label>
      <ns-external-resources
        [externalResources]="item().externalResources"
        [localURL]="stateService.instanceURL() + item().url"
      ></ns-external-resources>

      @if (siblingEditions()?.count > 0) {
        <Label
          [text]="'features.book.other_editions' | L"
          class="h1 mx-4 mt-6 mb-2"
        ></Label>
        <CollectionView
          [items]="siblingEditions().data"
          orientation="horizontal"
          colWidth="333"
          rowHeight="150"
          class="bg-primary-300-15 py-4 px-2 h-[182]"
          (itemTap)="navigateToSibling($event)"
          (loadMoreItems)="getSiblings()"
        >
          <ng-template let-sibling="item">
            <StackLayout class="px-2">
              <ns-book-item [item]="sibling"></ns-book-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      }

      <ns-feedback-section
        [item]="item()"
        [itemTitle]="itemTitle()"
      ></ns-feedback-section>

      @if (postsStateService.itemPosts[item().uuid]?.collections().length > 0) {
        <Label
          [text]="'common.collections_featuring_item' | L"
          class="h1 mx-4 mb-2 mt-6"
        ></Label>
        <CollectionView
          [items]="postsStateService.itemPosts[item().uuid].collections()"
          orientation="horizontal"
          colWidth="166"
          rowHeight="246"
          class="bg-primary-300-15 py-4 px-2 h-[278]"
          (itemTap)="navigateToCollection($event)"
        >
          <ng-template let-collection="item" let-index="index">
            <StackLayout class="px-2">
              <ns-collection-item
                [item]="collection"
                [post]="
                  postsStateService.itemPosts[item().uuid].collectionPosts()[
                    index
                  ]
                "
              ></ns-collection-item>
            </StackLayout>
          </ng-template>
        </CollectionView>
      }
    }
  </StackLayout>
</ScrollView>
