<ActionBar flat="true">
  <GridLayout [paddingTop]="statusbarSize + 8"></GridLayout>
</ActionBar>

<GridLayout verticalAlignment="center">
  <StackLayout class="p-4">
    <Label
      [text]="'features.sign_in.welcome' | L"
      class="text-2xl text-stone-500 font-medium p-4 text-center"
    ></Label>
    <TextField
      [hint]="'features.sign_in.instance_url' | L"
      keyboardType="url"
      returnKeyType="go"
      (returnPress)="checkInstance()"
      [(ngModel)]="instanceURL"
    />
    @if (loading) {
      <ActivityIndicator busy="true" class="mt-4" />
    } @else {
      <Button
        class="primary-button mt-4"
        (tap)="checkInstance()"
        [text]="'features.sign_in.next' | L"
      ></Button>
    }
  </StackLayout>
</GridLayout>
