@import "tailwindcss";

@theme {
  --color-forest-50: #f3f8ef;
  --color-forest-100: #e6f1df;
  --color-forest-200: #cde3be;
  --color-forest-300: #bddaab;
  --color-forest-400: #a0c77e;
  --color-forest-500: #88b563;
  --color-forest-600: #6d964a;
  --color-forest-700: #58783b;
  --color-forest-800: #435a2d;
  --color-forest-900: #2e3c1f;

  --color-beach-50: #f0fbf9;
  --color-beach-100: #d7f5f0;
  --color-beach-200: #b0eadd;
  --color-beach-300: #8addcf;
  --color-beach-400: #5ed0c0;
  --color-beach-500: #3cb8a6;
  --color-beach-600: #2f9386;
  --color-beach-700: #257268;
  --color-beach-800: #1b5049;
  --color-beach-900: #10302d;
}

@custom-variant highlighted {
  &:is(:highlighted) {
    @slot;
  }
}

@layer components {
  .tabler-icon {
    font-family: "tabler-icons-300", "tabler-icons";
    font-size: 24;
    font-weight: 400;
  }

  Page {
    @apply bg-neutral-50 dark:bg-neutral-800;
  }

  Label {
    @apply text-neutral-700;
  }

  Button {
    android-elevation: 0;
    android-dynamic-elevation-offset: 0;
    @apply rounded-full h-10;
  }

  TextField {
    @apply border-none rounded-full bg-neutral-200 h-12 px-4 text-neutral-500;
  }

  TextView {
    @apply border-b-[1] border-b-transparent text-neutral-500;
  }

  .h1 {
    @apply text-base font-medium;
  }

  .icon-button {
    @apply text-center w-10 min-w-10 min-h-10 text-neutral-500 highlighted:bg-neutral-200;
  }

  .gray-button {
    @apply text-neutral-700 bg-neutral-200 highlighted:bg-neutral-300;
  }

  .gray-button.pressed {
    @apply bg-neutral-300;
  }

  .primary-button {
    @apply text-neutral-700 bg-forest-300 highlighted:bg-forest-300/80;
  }

  .primary-button.pressed {
    @apply bg-forest-300/80;
  }

  .basic-button {
    @apply text-neutral-500 bg-white highlighted:bg-neutral-200;
  }

  .basic-button Label {
    @apply text-neutral-500;
  }

  .basic-button.disabled Label {
    @apply text-neutral-300;
  }

  .basic-button.pressed {
    @apply bg-neutral-200;
  }

  .textfield-with-icon-container {
    @apply rounded-full bg-neutral-200 h-12 px-4;
  }
}
