<StackLayout class="rounded-lg bg-app-bg-pure w-[150] h-[246]">
  <NSImg
    [sharedTransitionTag]="'itemImage' + item?.uuid"
    [src]="item?.coverImageURL + '.200x200_q85_autocrop_crop-scale.jpg'"
    [failureImageUri]="
      item?.coverImageURL + '.200x200_q85_autocrop_crop-scale.png'
    "
    class="rounded-tl-lg rounded-tr-lg w-[150] h-[150]"
  ></NSImg>
  <StackLayout class="p-2">
    <FlexboxLayout class="flex-col justify-between h-full w-full">
      <StackLayout>
        <Label [text]="item?.title"></Label>
        <Label
          [text]="
            post?.account.displayName ? 'by ' + post.account.displayName : ''
          "
          class="text-xs font-medium text-app-fg-muted mt-0.5"
        ></Label>
      </StackLayout>
      <FlexboxLayout class="justify-between mt-2">
        <StackLayout orientation="horizontal">
          <Label
            text="&#xeabe;"
            class="tabler-icon text-app-fg-muted mr-1 text-lg"
          ></Label>
          <Label
            [text]="post?.favouritesCount | kilo"
            class="text-app-fg-muted text-sm"
          ></Label>
        </StackLayout>
        <StackLayout orientation="horizontal">
          <Label
            [text]="post?.reblogsCount"
            class="text-app-fg-muted text-sm mr-2"
          ></Label>
          <Label
            text="&#xeb72;"
            class="tabler-icon text-app-fg-muted text-lg"
          ></Label>
        </StackLayout>
      </FlexboxLayout>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>
