<GridLayout>
  <GridLayout
    rows="56, auto, auto, auto, *"
    class="rounded-t-2xl bg-neutral-50"
  >
    <GridLayout
      row="0"
      columns="auto, *, auto, auto"
      class="rounded-t-2xl px-4 w-full bg-white"
    >
      <Button
        text="&#xeb55;"
        class="tabler-icon icon-button"
        col="0"
        (tap)="close()"
      ></Button>
      <StackLayout
        col="1"
        class="mx-2"
        [hidden]="!showCharCounterHint()"
        verticalAlignment="center"
      >
        <Label
          [text]="'common.character_limit_message' | L"
          class="text-neutral-50 text-center no-font-padding text-xs bg-neutral-500 px-2 py-1 rounded-full"
          textWrap="true"
          [maxLines]="2"
        ></Label>
      </StackLayout>
      <Button
        col="2"
        [text]="shelfMark.commentText?.length ?? 0"
        class="text-neutral-500 no-font-padding basic-button px-2 min-w-10"
        [class.text-orange-400]="shelfMark.commentText?.length > 360"
        (tap)="showCharCounterHint.set(!showCharCounterHint())"
      ></Button>
      @if (shelfMark.postId && !removeLoading()) {
        <Button
          text="&#xeb41;"
          class="tabler-icon icon-button text-red-400 ml-2"
          col="3"
          (tap)="remove()"
          [disabled]="postLoading()"
        ></Button>
      }
      @if (removeLoading()) {
        <ActivityIndicator col="3" class="w-10 h-10 ml-2" busy="true" />
      }
    </GridLayout>

    <StackLayout row="1" class="mt-4">
      <ns-sender-profile
        [user]="stateService.user()"
        [instanceURL]="stateService.instanceURL()"
      ></ns-sender-profile>
    </StackLayout>

    <FlexboxLayout row="2" class="px-4 mt-4">
      <Label
        [text]="'features.' + context().itemCategory + '.to_watch' | L"
        class="text-xs rounded-lg px-2.5 py-1 grow text-center mr-2"
        [ngClass]="
          shelfMark.shelfType === 'wishlist' ? 'bg-forest' : 'bg-neutral-200'
        "
        (tap)="shelfMark.shelfType = 'wishlist'"
      ></Label>
      <Label
        [text]="'features.' + context().itemCategory + '.watching' | L"
        class="text-xs rounded-lg px-2.5 py-1 grow text-center mr-2"
        [ngClass]="
          shelfMark.shelfType === 'progress' ? 'bg-forest' : 'bg-neutral-200'
        "
        (tap)="shelfMark.shelfType = 'progress'"
      ></Label>
      <Label
        [text]="'features.' + context().itemCategory + '.watched' | L"
        class="text-xs rounded-lg px-2.5 py-1 grow text-center mr-2"
        [ngClass]="
          shelfMark.shelfType === 'complete' ? 'bg-forest' : 'bg-neutral-200'
        "
        (tap)="shelfMark.shelfType = 'complete'"
      ></Label>
      <Label
        [text]="'features.' + context().itemCategory + '.stopped' | L"
        class="text-xs rounded-lg px-2.5 py-1 grow text-center"
        [ngClass]="
          shelfMark.shelfType === 'dropped' ? 'bg-forest' : 'bg-neutral-200'
        "
        (tap)="shelfMark.shelfType = 'dropped'"
      ></Label>
    </FlexboxLayout>

    <GridLayout
      row="3"
      [hidden]="!shelfMark.shelfType || shelfMark.shelfType === 'wishlist'"
      rows="auto, auto"
      columns="*, auto, *"
      class="px-4 mt-4"
    >
      <FlexboxLayout row="0" col="1" class="justify-center">
        @for (rate of rates; track $index) {
          <StackLayout
            [class.mr-2]="$index < 9"
            (tap)="shelfMark.ratingGrade = $index + 1"
          >
            <ns-rate-indicator
              [rate]="$index < shelfMark.ratingGrade ? 10 : 0"
              [size]="24"
            ></ns-rate-indicator>
          </StackLayout>
        }
      </FlexboxLayout>
      <FlexboxLayout row="1" col="1" class="justify-between mt-2">
        <Label
          [text]="'common.bad' | L"
          class="text-xs text-neutral-500"
        ></Label>
        <Label
          [text]="'common.wow' | L"
          class="text-xs text-neutral-500"
        ></Label>
      </FlexboxLayout>
    </GridLayout>

    <StackLayout row="4" class="mt-4">
      <ns-post-editor
        [post]="shelfMark"
        [hint]="('common.leave_comment' | L) + ' ' + context().itemTitle"
        contentProperty="commentText"
        [disableSubmitButton]="removeLoading()"
        [submitButtonLoading]="postLoading()"
        [allowChangingDate]="true"
        [showCrosspost]="true"
        (postPressed)="post()"
      ></ns-post-editor>
    </StackLayout>
  </GridLayout>

  <ng-template #messageAnchor></ng-template>
</GridLayout>
